@model DeltaReportSocViewModel
@{
    ViewData["Title"] = $"{Model.ReportTitle} | {Model.Soc} - {Model.SocTitle}";

    var showPublished = Model.State != DeltaReportState.Addition;
    var showDraft = Model.State != DeltaReportState.Deletion;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Delta reports", "Index", "DeltaReport")</li>
        <li class="breadcrumb-item">@Html.ActionLink(Model.ReportTitle, "SocIndex", "DeltaReport", new { id = Model.DeltaReportId })</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Soc - @Model.SocTitle</li>
    </ol>
</nav>

<div>
    <h1>SOC: @Model.Soc - @Model.SocTitle</h1>
    <h2>State: @Model.State.ToString()</h2>

    @if (showPublished && showDraft)
    {
        <h4 id="colourKeys">
            <span class="element additionalElement">Additional elements</span>
            <span class="element updatedElement">Updated elements</span>
            <span class="element removedElement">Removed elements</span>
        </h4>
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                @if (showPublished)
                {
                    <th scope="col">Published job group (previous)</th>
                }
                @if (showDraft)
                {
                    <th scope="col">Draft job group (new)</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (showPublished)
                {
                    <td>
                        <pre id="tdPublished" class="formatted scrollContainer"></pre>
                    </td>
                }
                @if (showDraft)
                {
                    <td>
                        <pre id="tdDraft" class="formatted scrollContainer"></pre>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        var showPublished = @showPublished.ToString().ToLowerInvariant();
        var showDraft = @showDraft.ToString().ToLowerInvariant();

        if (showPublished) {
            $('#tdPublished').text(JSON.stringify(@Html.Raw(Model.PublishedJobGroup ?? ""), null, '\t'));
        }
        if (showDraft) {
            $('#tdDraft').text(JSON.stringify(@Html.Raw(Model.DraftJobGroup ?? ""), null, '\t'));
        }

        if (showPublished && showDraft) {
            var publishedId = $('#tdPublished').attr('id');
            var draftId = $('#tdDraft').attr('id');

            $(document).jdd(publishedId, draftId);

            $('.scrollContainer').scrollsync();
        }
    </script>
}